/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.header {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(83, 161, 199);
    color: white;
}

.btn-primary {
    background-color: rgb(83, 161, 199);
   
}
.btn-primary:hover {
    background-color: rgb(67, 124, 152);
}

body {
    color:rgb(61, 58, 58);
    zoom: 80%;
}

.mt-5 {
    margin-top: 5px;
}
::-webkit-scrollbar {
    display: none;
}

.ml-2{
    margin-left: 20px;
}

.error{
    color: red;
    padding-top: 3px;
}

.w-100{
    width: 100%;
}

.footer{
    height: 80px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding-top:20px;
    font-weight: 200;
    background-color: rgb(67, 124, 152);
}

.weatherClass{
    color: white;
    text-decoration: none !important;
}